@font-face {
    font-family: 'MinSans-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'MinSans-Regular';
}

#left {
	position: fixed;
	width: 50%;
	height: auto;
	display: inline-block;
}

#right {
	width: 50%;
	height: auto;
	display: inline-block;
	float: right;
}

.best-menu {
	width: 100%;
	height: auto;
	margin-top: 50px;
}

#best-menu-h1 {
	margin-top: 14%;
	margin-left: 14%;
}

#best-menu {
	width: 80%;
	margin-left: 14%;
}

#best-menu p{
	display: inline-block;
	margin-left: 15%;
	font-size: 160%;
}

#best-Egg-Mayo {
	display: flex;
	align-items: center;
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	cursor: pointer;
}

#best-Egg-Mayo-img {
	width: 40%;
	max-width: 100%;
	height: auto;
	margin-left: 5%;
}

#best-Italian-BMT {
	display: flex;
	align-items: center;
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	cursor: pointer;
}

#best-Italian-BMT-img {
	width: 40%;
	max-width: 100%;
	height: auto;
	margin-left: 5%;
}

#best-Steak-Cheese {
	display: flex;
	align-items: center;
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	cursor: pointer;
}

#best-Steak-Cheese-img {
	width: 40%;
	max-width: 100%;
	height: auto;
	margin-left: 5%;
}

.menu {
	width: 100%;
	height: auto;
	margin-top: 50px;
}

#menu-h1 {
	margin-top: 14%;
	margin-left: 14%;
	margin-bottom: 0;

}

#filter {
	text-align: center;
	display: flex;
	margin-left: 20%;
}  
/* 필터 전체 div */

#filter p {
	margin: 0;
	font-size: 15px;
	align-items: center;
}
/* 각 필터 버튼 속의 글 */

#menu-whole-filter {
	transition: all 0.3s ease;
	width: 70px;
	height: 35px;
	display: inline-block;
	border-radius: 1em;
	margin: 0.2%;
	border: none;
	background-color: #D9D9D9;
	margin: 3px;
	cursor: pointer;
	color:#fff;
	background: #009223;
}

#menu-classic-filter {
	transition: all 0.3s ease;
	width: 70px;
	height: 35px;
	display: inline-block;
	border-radius: 1em;
	margin: 0.2%;
	border: none;
	background-color: #D9D9D9;
	margin: 3px;
	cursor: pointer;
}

#menu-classic-filter:hover{
	color:#fff;
	background: #009223;
}

#menu-fresh-filter {
	transition: all 0.3s ease;
	width: 70px;
	height: 35px;
	display: inline-block;
	border-radius: 1em;
	margin: 0.2%;
	border: none;
	background-color: #D9D9D9;
	align-items: center;
	margin: 3px;
	cursor: pointer;
}

#menu-fresh-filter:hover,
#menu-fresh-filter:hover{
	color:#fff;
	background: #009223;
}

#menu-premium-filter {
	transition: all 0.3s ease;
	width: 70px;
	height: 35px;
	display: inline-block;
	border-radius: 1em;
	margin: 0.2%;
	border: none;
	background-color: #D9D9D9;
	margin: 3px;
	cursor: pointer;
}
#menu-premium-filter:hover{
	color:#fff;
	background: #009223;
}

#menu {
	width: 70%;
	margin: 2% 0 10% 14%;

}

#menu p{
	display: inline-block;
	margin-left: 20%;
	font-size: 160%;
}

#menu-name {
	font-size: 150%;
}

#menu-ingredient {
	color: #666666;
}

#menu-Egg-Mayo {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Egg-Mayo-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Egg-Mayo-info {
	margin-left: 10%;
}

#menu-Italian-BMT {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Italian-BMT-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Italian-BMT-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-BLT {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-BLT-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-BLT-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Meatball {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Meatball-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Meatball-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Ham {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Ham-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Ham-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Tuna {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Tuna-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Tuna-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Chicken-Teriyaki {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Chicken-Teriyaki-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Chicken-Teriyaki-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-K-BBQ {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-K-BBQ-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-K-BBQ-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Pulled-Pork-Barbecue {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Pulled-Pork-Barbecue-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Pulled-Pork-Barbecue-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Roasted-Chicken-Avocado {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Roasted-Chicken-Avocado-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Roasted-Chicken-Avocado-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Roasted-Chicken {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Roasted-Chicken-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Roasted-Chicken-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Rotisserie-Barbecue-Chicken {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Rotisserie-Barbecue-Chicken-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Rotisserie-Barbecue-Chicken-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Shrimp {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Shrimp-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Shrimp-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Spicy-Italian {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Spicy-Italian-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Spicy-Italian-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Steak-Cheese {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Steak-Cheese-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Steak-Cheese-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Subway-Club {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Subway-Club-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Subway-Club-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Turkey-Bacon-Avocado {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Turkey-Bacon-Avocado-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Turkey-Bacon-Avocado-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Turkey {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Turkey-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Turkey-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Veggie-Delite-Avocado {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Veggie-Delite-Avocado-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Veggie-Delite-Avocado-info {
	display: inline-block;
	margin-left: 10%;
}

#menu-Veggie-Delite {
	border: #000 1px solid;
	border-radius: 1em;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

#menu-Veggie-Delite-img {
	width: 30%;
	height: auto;
	margin-left: 5%;
}

#menu-Veggie-Delite-info {
	display: inline-block;
	margin-left: 10%;
}

.show-menu{
	height: 200px;
}

@media screen and (max-width: 750px) {
	#left {
		margin-top: 3%;
	}
	#right {
		margin-top: 3%;
	}
}

@media screen and (max-width: 600px){
	body{
		margin-left: 0;
		min-width: 320px;
	}
	#left {
		width: 100%;
		position: inherit;
		margin-top : 7%;
	}
	#right {
		width: 100%;
	}
	.filter {
		position: inherit;
		margin-left: 7%;
	}
	#filter {
		margin-top: 2%;
		margin-bottom: 2%;
	}
}
